<section>
  <form ng-submit="userctrl.signUp(newUser)">
    <input type="text" placeholder="email" ng-model="newUser.email">
    <input type="text" placeholder="username" ng-model="newUser.username">
    <input type="password" placeholder="password" ng-model="newUser.password">
    <button type="submit"></button>
  </form>
  <form ng-submit="userctrl.signIn(newUser)">
    <input type="text" placeholder="email" ng-model="newUser.email">
    <input type="text" placeholder="username" ng-model="newUser.username">
    <input type="password" placeholder="password" ng-model="newUser.password">
    <button type="submit"></button>
  </form>
</section>
